<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Using plain html in Pug</title> -->
    <title>#{title}</title>

    style
        include style.css

</head>
<body>
    <div>
        <form action="/" method="POST">
            <input type="name" name="name" id="name" placeholder="Enter your Name">
            <input type="email" name="email" id="email" placeholder="Enter your Email">
            <input type="age" name="age" id="age" placeholder="Enter your age">
            <textarea name="more" placeholder="More about you" id="more" cols="30" rows="10"></textarea>
            <button id="btn">Submit</button>
        </form>
    </div>
</body>
</html>