#image-view {
  height: 250px;
  margin: 0px;
  /*background-color: #30e413;*/
  background-image: url("../../assets/img/GrapesRed.png");
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  width: 250px;
  /*border: 0;*/
  /*outline: 0;*/
  /*border-bottom: 2px solid red;*/
  /*border-width: thin;*/
}

#image-view:before {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 50%;
  border-bottom: 1px solid magenta;
}

