

{{>_navbar}}

    <div id="header">
        <div id="header2">
            <h2 class="bazar">Welcome to BazarOffline</h2>
            <p class="bazar2">You can find shops and products near you.</p>
        </div>
    </div>

    <div id="heading1">
        <h2>Categories</h2>
    </div>

    <!-- Cards -->
    <div class="container">
        <div class="row">
            {{#each cat}}
            <div class="col-md-4">
                <div class="row-md-4 m-4">
                    <div class="card" style="height: auto; border-radius: 15px;">
                        <img class="card-img-top" src="" alt="Oops"
                            style="border-radius: 15px;" id="catImage">
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            <p class="card-text">{{this.description}}</p>
                            <a href="/" class="btn btn-primary">View {{this.name}}</a>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
