<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>You Successfully logged in</h1>
    <h2 id="wel"></h2>
</body>
<script type="text/javascript" src="/backend.js">
    const x = useremail.name;
    console.log(useremail.name);
    document.getElementById("wel").innerHTML = x;
    </script>
<script>
    const x = useremail.name;
    console.log(useremail.name);
    document.getElementById("wel").innerHTML = x;
</script>
</html>