<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="contactStyle.css">
    <title>Agent Login</title>
    
</head>
<body>
    <div class="container">
        <h1>Agent Login</h1>
        <form action="login" method="POST"">
            <input type="email" name="email" id="email" placeholder="Enter your Email">
            <input type="password" name="password" id="password" placeholder="Enter your Pass">
            <button id="btn"type="Submit">Login</button>
        </form>
    </div>
</body>
</html>